.App {
  text-align: center;
  background-color: #eeeeee;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #eeeeee;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.customBtn {
  color: black;
}

.dashboardTabLink {
  text-decoration: none !important;
}

.noUrl {
  color: #eeeeee;
  padding: 1.6em 0 0 1.3em;
}

.profileCard {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  padding-bottom: 1em;
  border-radius: 7px;
}

.profileImgBoxBackground {
  background: url(https://i.pinimg.com/736x/6f/d6/8c/6fd68ced202b643053e9f281de52a016.jpg);
  background-size: cover;
}

.profileImgBox {
  width: 120px;
  height: 120px;
}

.profileImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 4em 0 0 1em;
}

.profileDetails {
  padding-left: 11em;
}

.editButton {
  float: right;
  margin: 6em 0.5em 0 0;
}
.badge {
  font-size: 100% !important;
  font-weight: 400 !important;
}

.formStyle {
  padding-top: 4em;
}
